html {
  font: 15px/1.7 "Helvetica Neue", "Hiragino Sans GB", "WenQuanYi Micro Hei", "Microsoft YaHei", sans-serif;
  width: 100%;
  height: 100%;
  -webkit-tap-highlight-color: transparent; }

body {
  margin: 0;
  padding: 0;
  background: #fff;
  width: 100%;
  height: 100%;
  color: #43210D;
  word-wrap: break-word; }
  body a {
    text-decoration: none;
    color: #656565; }
    body a:active, body a:hover, body a:link, body a:visited {
      outline: 0; }
    body a:visited {
      color: inherit; }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    color: #111;
    font-weight: normal; }
  body h1, body h2 {
    font-size: 18px;
    margin: 0; }
  body h3, body h4 {
    font-size: 14px;
    margin: 0; }
  body h5, body h6 {
    font-size: 12px;
    margin: 0; }

img {
  vertical-align: middle;
  border: 0; }

p, ul, ol, dl, dd, textarea {
  margin: 0; }

ul, ol {
  padding-left: 0;
  list-style: none; }

textarea {
  -webkit-appearance: none; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }
.clearfix:after {
  clear: both; }

.fr {
  float: right !important; }

.fl {
  float: left !important; }

.t-r {
  text-align: right; }

.t-c {
  text-align: center; }

.t-l {
  text-align: left; }

.mt10 {
  margin-top: 10px; }

.mb10 {
  margin-bottom: 10px; }

.mr10 {
  margin-right: 10px; }

.ml10 {
  margin-left: 10px; }

.hide {
  display: none !important; }

.show {
  display: block !important; }

.invisible {
  visibility: hidden; }

input.fileinput {
  visibility: hidden;
  position: absolute;
  top: -50;
  left: -50; }

.posfix {
  position: fixed; }

.red-tip {
  color: #ED1C1C !important; }

.loading-icon {
  width: 24px;
  height: 24px; }

/*! normalize.css v2.1.0 | MIT License | git.io/normalize */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

button,
input,
select,
textarea {
  -webkit-appearance: none;
  border: none;
  font-size: 100%;
  margin: 0; }

button,
input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset {
  padding: 0;
  margin: 0;
  border: 0; }

legend {
  display: block;
  width: 100%;
  padding: 0;
  line-height: inherit;
  border: 0; }

label {
  display: inline-block;
  font-weight: bold; }

input[type="radio"],
input[type="checkbox"] {
  line-height: normal; }

input[type="file"] {
  display: block; }

select[multiple],
select[size] {
  height: auto; }

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  height: auto; }

input[type="text"]:-moz-placeholder, input[type="password"]:-moz-placeholder, textarea:-moz-placeholder {
  color: #AEAEAE; }
input[type="text"]::-moz-placeholder, input[type="password"]::-moz-placeholder, textarea::-moz-placeholder {
  color: #AEAEAE; }
input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #AEAEAE; }
input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #AEAEAE; }

.form .inp {
  display: block;
  width: 200px;
  height: 24px;
  line-height: 1.42857;
  padding: 3px 5px;
  font-size: 12px;
  vertical-align: middle;
  border: 1px solid #ddd; }
  .form .inp[disabled], .form .inp[readonly], .form .inp fieldset[disabled] {
    cursor: not-allowed; }

.form-block, .form-inline {
  margin-bottom: 30px; }

.form-block, .form-inline {
  display: block; }

.form-inline .inp, .form-inline input, .form-inline textarea {
  display: inline-block; }

input[type=radio],
input[type=checkbox] {
  display: inline-block;
  padding-left: 20px;
  min-height: 14px;
  margin-top: -3px;
  margin-right: 5px;
  vertical-align: middle;
  cursor: pointer; }

textarea {
  resize: none;
  height: auto; }

.radio-img {
  display: inline-block;
  margin-top: 7px;
  width: 25px;
  height: 25px; }
  .radio-img.checking {
    background: url(../img/check_radio.png);
    background-size: 25px 25px; }
  .radio-img.uncheck {
    background: url(../img/uncheck_radio.png);
    background-size: 25px 25px; }

.btn {
  display: inline-block;
  color: #fff;
  background: #8D614D;
  height: 32.5px;
  line-height: 32.5px;
  padding: 0px 15px;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }
  .btn:hover {
    text-decoration: none;
    border: none; }
  .btn:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }
  .btn:visited {
    color: #fff; }
  .btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    background-color: rgba(141, 97, 77, 0.1);
    cursor: not-allowed; }

.pop-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.4) none repeat scroll 0 0 !important; }

.pop-show {
  position: fixed;
  width: 72%;
  left: 14%;
  top: 36%;
  z-index: 1001;
  text-align: center;
  color: #44210e;
  background-color: #f8f3f0;
  display: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }
  .pop-show .pop-close {
    position: absolute;
    top: 9px;
    left: 7px;
    width: 24px;
    height: 24px;
    line-height: 24px; }
    .pop-show .pop-close .pop-close-img {
      width: 12px;
      height: 12px; }
  .pop-show .pop-cont {
    font-size: 12.5px;
    padding: 18px 18px;
    border-bottom: 1px solid #e7d8d1; }
    .pop-show .pop-cont .pop-cont-title {
      font-size: 16.5px;
      font-weight: bold; }
  .pop-show .pop-concel-btn, .pop-show .pop-close-btn, .pop-show .pop-confirm-btn, .pop-show .one-confirm-btn {
    display: inline-block;
    font-size: 16.5px;
    color: #BD3F0A;
    width: 48.5%;
    height: 43px;
    line-height: 43px;
    text-align: center; }
  .pop-show .pop-close-btn {
    width: 100%;
    font-weight: bold; }
  .pop-show .pop-confirm-btn {
    font-weight: bold;
    border-left: 1px solid #e7d8d1; }
  .pop-show .one-confirm-btn {
    width: 100%; }
  .pop-show .pop-phone {
    width: 88%;
    height: 24px;
    margin-top: 28px;
    background-color: #faf9f8;
    border: 1px solid #44210e; }

.atip {
  max-width: 72%;
  padding: 15px 23px;
  line-height: 20px;
  text-align: center;
  position: fixed;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  display: none; }

.apopup {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  display: none;
  width: 72%;
  text-align: center;
  color: #44210e;
  background-color: #f8f3f0; }

header {
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 46px;
  line-height: 46px;
  background-color: #8D614D;
  color: #fff; }
  header:before, header:after {
    content: "";
    display: table; }
  header:after {
    clear: both; }
  header .address-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000; }
  header .left-nav {
    margin-left: 16px;
    color: #EAD9D2;
    float: left;
    position: relative; }
    header .left-nav .location-icon {
      position: absolute;
      left: 0px;
      top: 13px;
      vertical-align: middle;
      width: 14px;
      height: 20px; }
    header .left-nav .position-length {
      display: inline-block;
      width: 200px;
      margin-left: 17px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
  header .right-nav {
    margin-right: 16px;
    float: right;
    font-size: 18px; }
    header .right-nav a {
      font-weight: bold;
      color: #fff; }
  header.light-header {
    text-align: center;
    background: #F7F3EF;
    font-size: 18px;
    color: #4D3D36;
    border-bottom: 1px solid #D6C2B9; }
    header.light-header a {
      font-size: 18px;
      color: #4D3D36; }
    header.light-header .arrow {
      vertical-align: middle;
      display: inline-block;
      width: 14px;
      height: 8px;
      margin-left: 2px;
      margin-top: -3px;
      background: url(../img/down_arrow.png);
      background-size: 14px 8px; }
      header.light-header .arrow.expand {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg); }

main {
  height: auto;
  padding-top: 46px; }
  main.no-header {
    padding-top: 0; }
  main.with-action {
    padding-bottom: 41px; }

.main-wrapper {
  height: auto; }
  .main-wrapper:before, .main-wrapper:after {
    content: "";
    display: table; }
  .main-wrapper:after {
    clear: both; }

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #F7F3EF;
  color: #8D614D;
  height: 40px;
  line-height: 40px;
  width: 100%;
  border-top: 1px solid #D5C2B8; }
  .footer .footer-wrapper {
    padding: 0 13px; }
    .footer .footer-wrapper:before, .footer .footer-wrapper:after {
      content: "";
      display: table; }
    .footer .footer-wrapper:after {
      clear: both; }
  .footer .gocart-btn {
    float: right;
    margin-top: 4px; }
    .footer .gocart-btn.disabled {
      background-color: rgba(141, 97, 77, 0.1); }
