//font
//-----------------------
//$font:14px/1.6 "Helvetica Neue","Microsoft YaHei","微软雅黑","Hiragino Sans GB","STHeiti","WenQuanYi Micro Hei",SimSun,sans-serif;
//zhihu
//$font:14px/1.6 -apple-system,"Helvetica Neue",Arial,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
//apple,36kr
//$font:14px/1.6 'Lantinghei SC', 'Open Sans', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', 微软雅黑, STHeiti, 'WenQuanYi Micro Hei', SimSun, sans-serif;
//airbnb
//$font:14px/1.6 "Hiragino Sans GB","华文细黑","STHeiti","微软雅黑","Microsoft YaHei",SimHei,"Helvetica Neue",Helvetica,Arial,sans-serif;
//doubanFm
//$font-family:-apple-system,SF UI Display,Helvetica Neue,Helvetica,Lucida Grande,PingFang SC,Source Han Sans CN,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
//zhihu zhuanlan
$font-family:-apple-system,"Helvetica Neue",Arial,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
$main-width:100%;

//colors
//-----------------------

//-----------------------
$body-bg:#fff;
$font-color:#333333;

//link color
//-----------------------
$link-color:#B51823;
$link-hover-color:#be0101;

//form
$input-color-placeholder:#AEAEAE;
$border-color:#E6D7D1;

$red-error:#ED1C1C;
