//
// Utility classes
// --------------------------------------------------

@import 'functions';

// Floats
// -------------------------

.clearfix{
  @include clearfix();
}
.fr{
  float: right !important;
}
.fl{
  float: left !important;
}

//text align
.t-r{
    text-align:right;
}
.t-c{
    text-align:center;
}
.t-l{
    text-align:left;
}
.mt10{
    margin-top:10px;
}
.mb10{
    margin-bottom:10px;
}
.mr10{
    margin-right:10px;
}
.ml10{
    margin-left:10px;
}


// Toggling content
// -------------------------

.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
input.fileinput{
    visibility:hidden;position:absolute;top:-50;left:-50;
}

// For Affix plugin
// -------------------------

.posfix {
  position: fixed;
}
.red-tip{
    color:$red-error !important;
}
.loading-icon{
    width:24px;
    height:24px;
}
