@import 'functions';
//common
.pop-bg{
	position: fixed;
	width: 100%;
	height: 100%;
	left:0;
	top:0;
	z-index: 1000;
	background: rgba(0, 0, 0, 0.4) none repeat scroll 0 0 !important;
}
.pop-show{
    position: fixed;
    width: 72%;
    left: 14%;
    top: 36%;
    z-index: 1001;
    text-align: center;
    color:#44210e;
    background-color:#f8f3f0;
    display:none;
    @include border-radius(5px);
    .pop-close{
        position: absolute;
        top: 9px;
        left: 7px;
        width: 24px;
        height: 24px;
        line-height: 24px;
        .pop-close-img{
            width:12px;
            height:12px;
        }
    }
    .pop-cont{
        font-size:12.5px;
        padding:18px 18px;
        border-bottom:1px solid #e7d8d1;
        .pop-cont-title{
            font-size:16.5px;
            font-weight:bold;
        }
    }
    .pop-concel-btn,.pop-close-btn,.pop-confirm-btn,.one-confirm-btn{
        display: inline-block;
        font-size: 16.5px;
        color: #BD3F0A;
        width: 48.5%;
        height: 43px;
        line-height: 43px;
        text-align: center;
    }
    .pop-close-btn{
        width:100%;
        font-weight:bold;
    }
    .pop-confirm-btn{
        font-weight:bold;
        border-left:1px solid #e7d8d1;
    }
    .one-confirm-btn{
        width:100%;
    }
    .pop-phone{
        width:88%;
        height:24px;
        margin-top:28px;
        background-color:#faf9f8;
        border:1px solid #44210e;
    }
}
//tips
.atip{
    max-width:72%;
    padding:15px 23px;
    line-height:20px;
    text-align:center;
    position:fixed;
    color:#fff;
    background-color:rgba(0,0,0,0.8);
    @include border-radius(5px);
    display:none;
}
.apopup{
    @include border-radius(5px);
    display:none;
    width: 72%;
    text-align: center;
    color:#44210e;
    background-color:#f8f3f0;
}
