//font
//-----------------------
$font:15px/1.7 'Helvetica Neue','Hiragino Sans GB','WenQuanYi Micro Hei','Microsoft YaHei',sans-serif;

$font-color:#43210D;
$global-red:#DB1B1B;
$main-width:100%;
$main-color:#8D614D;

//colors
//-----------------------

//-----------------------
$body-bg:#fff;

//link color
//-----------------------
$link-color:#656565;
$link-hover-color:#be0101;

//form
$input-color-placeholder:#AEAEAE;
$border-color:#E6D7D1;

$red-error:#ED1C1C;
